.layout_withParams {
	display: flex;
	flex-direction: row;
	max-height: 100vh;
    overflow: auto;
}

.layout_withParams_left {
	display: flex;
	flex-direction: column;
	padding: 0px 5px 5px 5px;
	/*border-right: 1px solid rgba(52,52,52,0.7);*/
	width: 345px;
	height: 75vh;
	position: fixed;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
	background: #E8E8E8;
}

.params_title
{
	display: flex;
	flex-direction: row;
	align-items:  center;
	font-size: 14px;
	text-transform: uppercase;
	margin: 15px 0;
}

.params_title label
{
	flex: 20;
    text-align: center;
    margin: 0;
}

.params_title img
{
	transition: 0.3s;
	cursor: pointer;
}

.params_menu
{
	position: relative;
}

.params_menu:before
{
	content: "";
    position: absolute;
    right: 5px;
    top: -7px;
    width: 20px;
    height: 2px;
    background: #01b4bc;
    box-shadow: 0 6px 0 0 #01b4bc, 0 12px 0 0 #01b4bc;
}

.params_buttons
{
	padding: 18px 0px;
	margin: 10px 40px 0 40px;
	border-top: 1px solid #01b4bc;
	border-bottom: 1px solid #01b4bc;
}

.modal-body-criteres .params-criteres-buttons .button
{
	width: 25%;
    margin: auto;
}

.layout_withParams_left>ul
{
	padding: 0px 40px;
	overflow-y: scroll;
	right: 15px;
	/*max-height: 80vh;*/
}

.modal-parametrage
{
	width: 75% !important;
}

.modal-body-criteres>ul
{
	padding: 0px 20px;
	/*overflow-y: scroll;*/
	right: 15px;
	/*max-height: 80vh;*/
}

.modal-body-criteres .checkbox-item-horizontal
{
	margin: 0;
	margin-top: 10px;
}

.modal-body-criteres>ul.horizontal
{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	max-height: 310px;
}

.modal-body-criteres>ul>div.vertical
{
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout_withParams_left>ul::-webkit-scrollbar,
.modal-body-criteres>ul::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #E8E8E8;
}

.layout_withParams_left>ul::-webkit-scrollbar-track,
.layout_withParams_left>ul::-webkit-scrollbar-thumb,
.modal-body-criteres>ul::-webkit-scrollbar-track,
.modal-body-criteres>ul::-webkit-scrollbar-thumb {
	border: 3px solid rgba(255,255,255,0);
	background-clip: padding-box;
}

.layout_withParams_left>ul::-webkit-scrollbar-track,
.modal-body-criteres>ul::-webkit-scrollbar-track {
	background-color: #212629;
}

.layout_withParams_left>ul::-webkit-scrollbar-thumb,
.modal-body-criteres>ul::-webkit-scrollbar-thumb {
	background-color: #01b4bc;
}

.layout_withParams_left>ul::-webkit-scrollbar-thumb:hover,
.modal-body-criteres>ul::-webkit-scrollbar-thumb:hover {
	border: 2px solid rgba(255,255,255,0);
}

/*
.layout_withParams_left>ul::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #01b4bc;
}

.layout_withParams_left>ul::-webkit-scrollbar-track
{
	background-color: #212629;
}

.layout_withParams_left>ul::-webkit-scrollbar-thumb
{
	border: 1px solid #212629;
	background-color: #01b4bc;	
}
*/
.layout_withParams_left>ul>li
{
	list-style-type: none;
	font-size: 13px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.modal-body-criteres>ul>li,
.modal-body-criteres>ul>div>li
{
	list-style-type: none;
	font-size: 14px;
	width: 100%;
}

.layout_withParams_left>ul>li.border-bottom,
.modal-body-criteres.border-bottom
{
    border-bottom: 1px solid #01b4bc;
}

.layout_withParams_left .params-encart ul,
.modal-body-criteres .params-encart ul
{
	padding: 0;
}

.layout_withParams_left .params-encart ul li,
.modal-body-criteres .params-encart ul li
{
	list-style-type: none;
}

.layout_withParams_left .params-criteres,
.modal-body-criteres .params-criteres,
.layout_withParams_left .params-criteres-dropdown,
.modal-body-criteres .params-criteres-dropdown
{
	justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    padding: 10px;
}

.layout_withParams_left .params-criteres,
.modal-body-criteres .params-criteres,
.modal-body-criteres .params-criteres-dropdown
{
	background: #D8D8D8;
}

.modal-body-criteres .params-encart-with-buttons
{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-body-criteres .dropdown-display-label
{
	background: #FFFFFF;
}

.modal-body-criteres .dropdown-multiple-label
{
	border: 1px solid #D8D8D8;
}

.modal-body-criteres .dropdown-main
{
	margin-bottom: 0;
	border: none;
}

.modal-body-criteres .dropdown-chose-list
{
	width: 80%;
}

.modal-body-criteres .dropdown-search
{
	width: 100%;
}

.modal-body-criteres .dropdown-search input
{
	background: url(/images/LOUPE.svg) no-repeat left 2px center !important;
	padding-left: 20px !important;
	margin-left: 10px;
}

.modal-body-criteres .params-criteres-dropdown-buttons
{
	display: flex;
    justify-content: space-between;
    margin: 3px 25px -3px 15px;
}

.modal-body-criteres .params-criteres-dropdown-buttons a
{
	cursor: pointer;
    font-size: 12px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #212629;
    opacity: 1; /* Firefox */
}

.modal-body-criteres-title
{
	margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #01b4bc;
}

.params-criteres-label,
.modal-body-criteres-title p
{
	font-size: 12px;
    text-align: right;
}

.params-criteres-reset
{
	vertical-align: text-bottom;
	padding-left: 10px;
	cursor: pointer;
}

.modal-body-criteres-title p
{
	line-height: 0px;
}

.layout_withParams_left .params-criteres h1,
.layout_withParams_left .params-criteres-dropdown h1,
.modal-body-criteres .params-criteres h1,
.modal-body-criteres .params-criteres-dropdown h1
{
	font-size: 14px;
	margin: auto 0px;
}

.layout_withParams_left .params-panneau
{
	display: none;
	padding: 10px 15px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	background: #FFFFFF;
	border: 1px solid #01b4bc;
}

.modal-body-criteres .params-panneau
{
	padding: 10px 15px;
	height: fit-content;
	display: flex !important;
	flex-wrap: wrap;
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
}

.layout_withParams_left>ul>li>ul,
.modal-body-criteres>ul>li>ul
{
	padding-left: 10px;
}

.layout_withParams_left>ul>li>ul>li,
.modal-body-criteres>ul>li>ul>li
{
	list-style-type: none;
	font-size: 10px;
}

.params-periode
{
	display: flex;
	justify-content: space-between;
}

.layout_withParams_left>ul>li>ul>li select,
.modal-body-criteres>ul>li>ul>li select
{
	font-size: 12px;
	background: #D8D8D8;
}

.layout_withParams_right {
	display: flex;
	/*flex: 2.5;*/
	flex-direction: row;
	align-items: flex-start;
	padding-left: 345px;
	/*padding: 10px;*/
	width: 100%;
	height: 75vh;
	background: #212629;
	transition: padding-left .3s;
}

.layout_withParams_right .open_params_menu
{
	display: none;
	flex: 1;
	cursor: pointer;
	margin: 25px 10px;
}

.layout_withParams_right .main_tableau
{
	flex: 75;
	display: flex; 
	width: 100%; 
	flex-direction: column;
	overflow: hidden;
}

.layout_withParams_right .note,
.modal-body-criteres .note
{
	font-style: italic;
	font-size: 10px;
	text-align: center;
	color: #212629;
	margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    .layout_withParams {
		flex-direction: column;
	}

	.layout_withParams_left {
		border-bottom: 1px solid rgba(52,52,52,0.7);
	}

	.layout_withParams_right {
		flex: 1;
	}
}
